{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Add Shirt</h1>
<br>
<form method="POST">
    <label>Item Description 👕</label>
    <input class="input-group input-group-sm mb-3" name="description" type="text" />
    <label>Flaws 🧵</label>
    <input class="input-group input-group-sm mb-3" name="flaws" type="text" />
    <label>Size 🏷️</label>
    <input class="input-group input-group-sm mb-3" name="size" type="text" />
    <label>Measurements 📐</label>
    <input class="input-group input-group-sm mb-3" name="measurements" type="text" />
    <br>
    <div>
        <button type="submit" class="btn btn-primary">Add Shirt</button>
    </div>
</form>
<br />
<h1 align="center">Shirts</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for clothing in user.clothing %}
    <li class="list-group-item">
        {{ clothing.description }}
    </li>
    {% endfor %}
</ul>
{% endblock %}